.title-first
    &__main
        text-transform: uppercase
        display: block
        color: #fff
        font-size: 6rem
        font-style: normal
        font-weight: 800
        line-height: normal
        letter-spacing: 1rem
        margin-bottom: 1rem
        animation-name: leftToRight
        animation-duration: 1.7s
        animation-delay: 0.3s
        animation-timing-function: ease
        backface-visibility: hidden
    &__secondary
        display: block
        color: $color-white
        font-size: 4rem
        font-weight: 300
        line-height: normal
        letter-spacing: .5rem
        animation-name: rightToLeft
        animation-duration: 1.7s
        animation-delay: 0.3s
        animation-timing-function: ease
        backface-visibility: hidden
        margin-bottom: 6.5rem