.section-about
    padding-top: 8rem

.section-adventure
    padding: 21rem 0rem
    background: linear-gradient(90deg, rgba($brown-color-light, 0.70) 0%, rgba($color-black, 0.70) 100%), url(../img/bg-adventure.jpg) center / cover no-repeat
    transform: skewY(7deg)

.section-adventure > *
    transform: skewY(-7deg)

.section-tour
    padding-top: 21rem

.section-feedback
    padding-top: 8rem
    position: relative
    padding: 8rem 0